@import url('https://fonts.googleapis.com/css?family=Calistoga|Lato&display=swap');

/* Resets, body & utilities */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  font-size: 16px;
  background-color: #222;
  background: url('christmas-dark.png'); /*  This pattern is downloaded from https://www.toptal.com/designers/subtlepatterns/ */
  color: white;
  line-height: 1.3em;
  font-family: 'Lato', sans-serif;
}

.centeredHorizontally {
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 1200px;
  background: #222;
  background: url(hicv2017cover_415.jpg) top no-repeat fixed;
}
@media (min-width: 416px) {
  .content {
    background: url(hicv2017cover.jpg) top no-repeat fixed;
  }
}
@media (min-width: 800px) {
.content {
  background: url(hicv2017cover_1200.jpg) top no-repeat fixed;
}
}
@media (min-width: 1200px) {
.content {
  margin-top: 1rem;
  border: #666 1px solid;
  margin-bottom: 1rem;
}
}

/* Abbreviations */
abbr {
  color: #006600;
  cursor: help;
  text-decoration-skip-ink: none;
}

abbr:hover,
a:focus {
  color: #00aa00;
  text-decoration: underline solid;
  text-decoration-skip-ink: unset;
}

/* Links */
a {
  color: #cc0000;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

a:hover,
a:focus {
  color: #ff0000;
  text-decoration: underline solid;
  text-decoration-skip-ink: unset;
}

/* Top Header & Navigation */
header.topHeader {
  background: linear-gradient(rgba(34, 34, 34,1) 85%,rgba(34, 34, 34,0));
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.hero {
  padding: 2em;
  height: 500px;
  max-height: 100vr;
  display: flex;
  flex-direction: column-reverse;
}

nav ul {
  list-style: none;
  display: grid;
  gap: 1rem;
}

nav ul.internal {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

header.topHeader nav ul {
  margin-top: 1rem;
}

nav.rules ul.internal {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1rem;
}
nav.rules li {
  margin: 0.5rem 1px;
  flex: 1 1;
}

nav ul.external {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

.button {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  background-color: rgb(0, 0, 51);
  color: #ccc;
  line-height: 1.5rem;
}

.button:hover,
.button:focus,
.button.current {
  background-color: rgb(0, 0, 85);
  text-decoration: none;
  color: white;
}

.button.action {
  border: 1px #ddd outset;
  border-radius: 1rem;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  margin-top: 1rem;
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
}

.button.action i {
  padding-right: 0.3rem;
}

.button.action:hover,
.button.action:focus {
  background: linear-gradient(rgba(0, 0, 85,1),rgba(0,0,51,1));
  border: 2px solid white;
  box-shadow: 0px 2px 15px 0px rgba(174, 200, 255, 0.75);
  transform: translate(0px, -2px);
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
}

/* Main Formatting */
main {
  background: rgba(255,255,255, 0.75);
  backdrop-filter: blur(5px);
  padding: 1rem;
  margin-top: -1rem;
  padding-top: 2rem;
  color: #222;
}

main > section:not(:last-child),
main > article:not(:last-child),
main p:not(:last-child) {
  margin: 0 0 1rem 0;
}

/* Main Headings */
main h2,
main h3 {
  font-family: 'Calistoga', sans-serif;
  padding-bottom: 0.25rem;
  color: rgba(0, 44, 20, 1);
}
main:not(.home) h2,
main:not(.home) h3 {
  padding-top: 120px;
  margin-top: -120px;
}

main h2 .heading,
main h3 .heading {
  position: relative;
  padding-top: 0.25em;
}
main h2 .heading {
height: 1.25em;
}
main h3 .heading {
height: 1.5em;
}
main h2 .heading:hover,
main h3 .heading:hover {
  background: rgba(255,255,255, 0.5);
  border-bottom: 1px dotted rgb(0, 0, 200);
}

a.copy-link {
  position: absolute;
  display: block;
  color: rgba(0, 44, 20, 1);
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  top: 100;
  left: 0;
  z-index: 10;
}
h2 a.copylink {
  height: 1.25em;
}
h3 a.copylink {
  height: 1.5em;
}

.copy-link i {
  float: right;
  font-size: 1rem;
  color: #777;
}

.copy-link:hover,
.copy-link:hover > i  {
  color: rgb(0, 0, 200);
  text-decoration: none;
}

/* Home */
.home {
  padding: 0;
}

.home h2 {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

.home p {
  padding: 0 1rem 0 1rem;
}

.home p:last-of-type {
  padding-bottom: 1rem;
}

.box-grid {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin: 0 !important;
  padding: 0;
}
.box:nth-child(odd) {
  background: rgba(0, 0, 45, 0.85);
  color: #ccc;
}
.box:nth-child(even) {
  background: rgba(0, 44, 20, 0.85);
  color: #ccc;
}
.box:nth-child(odd):hover {
  background: rgba(0, 0, 45, 1);
  color: #fff;
}
.box:nth-child(even):hover {
  background: rgba(0, 44, 20, 1);
  color: #fff;
}
.box {
  display: block;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}
.box:hover {
  text-decoration: none;
}
.box i {
  font-size: 5rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Rules - Creative Commons image */
.creativecommons img {
  float: left;
  padding-right: 0.5rem;
}

main article ul {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  text-align: left;
}

/* OnTheXDay How it Works list */
#on-the-x-day {
  text-align: center;
}

#on-the-x-day .how-it-works {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  text-align: left;
}

.how-it-works li {
  padding-bottom: 1.5em;
  padding-right: 40px;
  width: 450px;
  max-width: 90%;
  margin: auto;
}

/* OnTheXDay Daily Inspiration Calendar */
.month-indicator {
  background: #222;
  color: #ccc;
  padding: 0.5rem;
  text-align: left;
}
.day-of-week {
  background: #ccc;
  margin: 0;
  padding: 0;
  display: none;
}
.date-grid {
  background: #222;
  color: #ccc;
  margin: 0;
  padding: 0;
}
.date-grid {
  list-style: none;
  display: grid;
  border-right: 1px #222 solid;
  border-bottom: 1px #22 solid;
}

@media (min-width: 746px) {
  .month-indicator {
    min-width: 633px;
  }
  .day-of-week {
    list-style: none;
    min-width: 633px;
    display: grid;
    border-right: 1px #222 solid;
    border-bottom: 1px #22 solid;

  }
  .day-of-week,
  .date-grid {
    grid-template-columns: repeat(7,1fr);
  }
}
.day-of-week li,
.date-grid li {
  border-left: 1px #222 solid;
  border-top: 1px #222 solid;
  padding: 0.5rem;
}
.day {
  background: rgb(0,0,51)
}
.day:first-child {
  grid-column: 1; /* Sunday is 1, Saturday is 7 */
}

/* Rules - Back to Top */
#backToTop {
  display: hidden;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
}

.fa-angle-up {
  font-size: 1.4rem;
  /* line-height: 1rem; */
  padding-right: 0.5rem;
  vertical-align: sub;
}

/* Footer */
footer {
  margin: 1rem;
  text-align: center;
  font-size: 0.75rem;
  background: rgba(0,0,0,0.85);
  margin: 0;
  padding: 1rem;
}

/* Toast */
#toast {
  visibility: hidden;
  width: 250px;
  margin-left: -125px;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 2rem;
  word-wrap: break-word;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}