@import url('https://fonts.googleapis.com/css?family=Calistoga|Lato&display=swap');
@import url("https://use.typekit.net/cni7gjf.css");

/* Resets, body & utilities */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
  font-size: 16px;
  background-color: #222;
  background: url('images/christmas-dark.png') fixed; /*  This pattern is downloaded from https://www.toptal.com/designers/subtlepatterns/ */
  color: white;
  line-height: 1.3em;
  font-family: 'Lato', sans-serif;
}

.centeredHorizontally {
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 1200px;
  background: #222;
  background: url('images/hicv2017cover_415.jpg') 0px -40px no-repeat fixed;
}
@media (min-width: 416px) {
  .content {
    background: url('images/hicv2017cover.jpg') 0px -40px no-repeat fixed;
  }
}
@media (min-width: 800px) {
.content {
  background: url('images/hicv2017cover_1200.jpg') center -160px no-repeat fixed;
}
}

/* Abbreviations */
abbr {
  color: #006600;
  cursor: help;
  text-decoration-skip-ink: none;
}

abbr:hover,
a:focus {
  color: #00aa00;
  text-decoration: underline solid;
  text-decoration-skip-ink: unset;
}

/* Links */
a {
  color: #cc0000;
  text-decoration: underline dotted;
  text-decoration-skip-ink: none;
}

a:hover,
a:focus {
  color: #ff0000;
  text-decoration: underline solid;
  text-decoration-skip-ink: unset;
}

/* Top Header & Navigation */
.logo {
  position: absolute;
  top: 30px;
  left: 80px;
  margin-left: 0;
  text-shadow:
  -1px -1px 0 rgba(50, 0, 0, 0.5),  
  1px -1px 0 rgba(50, 0, 0, 0.5),
 -1px 1px 0 rgba(50, 0, 0, 0.5),
  1px 1px 0 rgba(50, 0, 0, 0.5);
}
.logo .holiday {
  font-family: sabbath-black, serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  font-size: 4rem;
  color: rgb(150, 0, 0);
}
.logo .happenings {
  font-family: old-man-eloquent, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  color: white;
  position: absolute;
  font-size: 3.55rem;
  top: 40px;
  left: 50%;
  margin-left: -55px;
}
@media (min-width: 450px) {
  .logo {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -150px;
  }
  .logo .holiday {
    font-size: 5rem;
  }
  .logo .happenings {
    font-size: 4.5rem;
    top: 50px;
    left: 50%;
    margin-left: -70px;
  }
}

.fa-bars {
  padding: 1rem;
  background-color: rgb(0, 0, 51);
  border-radius: 30px;
  margin: 1rem;
  position: fixed;
  z-index: 100;
  top: 0;
  color: #ccc;
  border: 1px #ddd outset;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  margin-top: 1rem;
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
}
.fa-bars:active,
.fa-bars:hover, 
.menu-button:focus .fa-bars {
  background: linear-gradient(rgba(0, 0, 85,1),rgba(0,0,51,1));
  border: 2px solid white;
  box-shadow: 0px 2px 15px 0px rgba(174, 200, 255, 0.75);
  transform: translate(0px, -2px);
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
}

.topHeader {
  width: 100%;
  max-width: 1200px;
}

#full-menu {
  display: none;
  position: fixed;
  padding: 1rem;
  z-index: 99;
  top: 0;
  width: calc(100vw - 85px);
  max-width: calc(1200px - 85px);
}

#full-menu .external {
  display: flex;
}

#full-menu .logo {
  left: 80px;
  margin-left: 0;
}
#full-menu .logo .holiday {
  font-size: 4rem;
}
#full-menu .logo .happenings {
  font-size: 3.55rem;
  top: 40px;
  left: 50%;
  margin-left: -55px;
}

.under-logo {
  position: absolute;
  z-index: 100;
  top: 120px;
  width: 88vw;
  max-width: calc(1200px - 2rem);
}

#cover {
  display: none;
  height: 1000vh;
  width: 100vw;
  position: fixed;
  background: url('images/christmas-dark.png'); /*  This pattern is downloaded from https://www.toptal.com/designers/subtlepatterns/ */
  opacity: 0.95;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: 98;
}

.hero {
  padding: 2em;
  height: 500px;
  max-height: 100vr;
  display: flex;
  flex-direction: column-reverse;
}

nav ul {
  list-style: none;
  display: grid;
  gap: 1rem;
}

nav ul.internal {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav ul.internal li {
  margin: 0.5rem 1px;
  flex: 1 1 0px;
}

nav ul.external {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 650px;
  margin: auto;
}
@media (min-width: 710px) {
  nav ul.external {
    display: flex;
  }
}


.button {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  background-color: rgb(0, 0, 51);
  color: #ccc;
  line-height: 1.5rem;
}

.button:hover,
.button:focus,
.button.current {
  background-color: rgb(0, 0, 85);
  text-decoration: none;
  color: white;
}

.button.action {
  border: 1px #ddd outset;
  border-radius: 1rem;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  margin-top: 1rem;
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
}

.button.action i {
  padding-right: 0.3rem;
}

.button.action:hover,
.button.action:focus {
  background: linear-gradient(rgba(0, 0, 85,1),rgba(0,0,51,1));
  border: 2px solid white;
  box-shadow: 0px 2px 15px 0px rgba(174, 200, 255, 0.75);
  transform: translate(0px, -2px);
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
}

/* Main Formatting */
main {
  background: rgba(255,255,255, 0.75);
  backdrop-filter: blur(5px);
  padding: 1rem;
  padding-top: 2rem;
  color: #222;
}

main > section:not(:last-child),
main > article:not(:last-child),
main p:not(:last-child) {
  margin: 0 0 1rem 0;
}

/* Main Headings */
main h1 {
  font-family: 'Calistoga', sans-serif;
  color: rgba(0, 44, 20, 1);
  font-size: 2rem;
  padding: 0 3rem 1rem 3rem;
  line-height: 2.5rem;
}
@media (min-width: 475px) {
  main h1 {
    padding: 0 1rem 1rem 1rem;
  }
}

.title-heading {
  text-align: right;
  padding-bottom: 2rem;
  padding-right: 0.5rem;
}

main h2,
main h3,
main h4 {
  font-family: 'Calistoga', sans-serif;
  padding-bottom: 0.25rem;
  color: rgb(0, 44, 20);
}
main:not(.home) h2,
main:not(.home) h3,
main:not(.home) h4 {
  padding-top: 80px;
  margin-top: -80px;
}

main .heading {
  margin-bottom: 1px;
  line-height: initial;
}
main h2 .heading:hover,
main h3 .heading:hover,
main h4 .heading:hover {
  background: rgba(255,255,255, 0.5);
  border-bottom: 1px dotted rgb(0, 0, 200);
  margin-bottom: 0px;
}

a.copy-link {
  display: block;
  color: rgba(0, 44, 20, 1);
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  top: 100;
  left: 0;
  z-index: 10;
}
h2 a.copylink {
  height: 1.25em;
}
h3 a.copylink {
  height: 1.5em;
}
h4 a.copylink {
  height: 1.5em;
}

.copy-link i {
  float: right;
  font-size: 1rem;
  color: #777;
}

.copy-link:hover,
.copy-link:hover > i  {
  color: rgb(0, 0, 200);
  text-decoration: none;
}

/* Home */
.home {
  padding: 0;
}

.home h2 {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

.home p {
  padding: 0 1rem 0 1rem;
}

.home p:last-of-type {
  padding-bottom: 1rem;
}

.box-grid {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin: 0 !important;
  padding: 0;
}
.box:nth-child(odd) {
  background: rgba(0, 0, 45, 0.85);
  color: #ccc;
}
.box:nth-child(even) {
  background: rgba(0, 44, 20, 0.85);
  color: #ccc;
}
.box:nth-child(odd):hover {
  background: rgba(0, 0, 45, 1);
  color: #fff;
}
.box:nth-child(even):hover {
  background: rgba(0, 44, 20, 1);
  color: #fff;
}
.box {
  display: block;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}
.box:hover {
  text-decoration: none;
}
.box i {
  font-size: 5rem;
  padding-bottom: 1rem;
}
@media (min-width: 600px) {
  .box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Rules */
.creativecommons img {
  float: left;
  padding-right: 0.5rem;
}

main article ul {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  text-align: left;
}

/* OnTheXDay How it Works list */
#on-the-x-day {
  text-align: center;
}

#on-the-x-day h2 {
  margin-top: 0;
  padding-top: 0;
}

#on-the-x-day .how-it-works {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  text-align: left;
}

.how-it-works li {
  padding-bottom: 1.5em;
  padding-right: 40px;
  width: 450px;
  max-width: 90%;
  margin: auto;
}

/* OnTheXDay Daily Inspiration Calendar */
.month-indicator {
  background: #222;
  color: #ccc;
  padding: 0.5rem;
  text-align: left;
}
.day-of-week {
  background: #ccc;
  margin: 0;
  padding: 0;
  display: none;
}
.date-grid {
  background: #222;
  color: #ccc;
  margin: 0;
  padding: 0;
}
.date-grid {
  list-style: none;
  display: grid;
  border-right: 1px #222 solid;
  border-bottom: 1px #222 solid;
}

@media (min-width: 746px) {
  .month-indicator {
    min-width: 633px;
  }
  .day-of-week {
    list-style: none;
    min-width: 633px;
    display: grid;
    border-right: 1px #222 solid;
    border-bottom: 1px #222 solid;

  }
  .day-of-week,
  .date-grid {
    grid-template-columns: repeat(7,1fr);
  }
}
.day-of-week li,
.date-grid li {
  border-left: 1px #222 solid;
  border-top: 1px #222 solid;
  padding: 0.5rem;
}
.day {
  background: rgb(0,0,51)
}
.day:first-child {
  grid-column: 1; /* Sunday is 1, Saturday is 7 */
}

/* Rules - Back to Top */
#backToTop {
  display: hidden;
  position: fixed; /* Fixed/sticky position */
  top: 0;
  left: 50%;
  margin-left: calc(-132.83px / 2);
  z-index: 90; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
}

.fa-angle-up {
  font-size: 1.4rem;
  /* line-height: 1rem; */
  padding-right: 0.5rem;
  vertical-align: sub;
}

/* Contact */

/* Contact Form */
#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form abbr[title="required"] {
  color: red;
  text-decoration: none;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
  font-family: inherit;
  font-size: inherit;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

#contact-form .prounounIsland {
  font-style: italic;
}

/* Download Page */
.wrapper {
  overflow: hidden;
  margin-bottom: 1rem;
}
.download-thumb {
  display: block;
  width: 200px;
  height: 160px;
  margin: 0.4rem auto 0.5rem auto;
  border: 1px white solid;
  padding-top: 120px;
  cursor: pointer;
  text-decoration: none;
}
.download-thumb:hover,
.download-thumb:focus {
  text-decoration: none;
}
.clr {
  clear: left;
}
.download-thumb .button.action {
  margin: auto;
  padding: 0.25rem 1rem;
  pointer-events: none;
}
.download-thumb:hover .button.action,
.download-thumb:focus .button.action {
  background: linear-gradient(rgba(0, 0, 85,1),rgba(0,0,51,1));
  border: 2px solid white;
  box-shadow: 0px 2px 15px 0px rgba(174, 200, 255, 0.75);
  transform: translate(0px, -2px);
  transition: box-shadow 0.15s ease-in, transform 0.15s ease-in, border 0.15s ease-in;
  color: white;
}
@media (min-width: 746px) {
  .download-thumb {
    float: left;
    margin-right: 1rem;
  }
}
#hicv2016-thumb {
  background: url('images/hicv2016_thumb.png') center / cover no-repeat;
}
#hicv2017-thumb {
  background: url('images/hicv2017_thumb.png') center / cover no-repeat;
}
#hh2019-thumb {
  background: url('images/hh_2019_thumb.png') center / cover no-repeat;
}

/* Contents */
#table-of-contents {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: rgba(255,255,255, 0.5);
  border: 1px solid white;
}
#table-of-contents ul {
  padding-left: 1rem;
  display: block;
}
#table-of-contents ul ul,
#table-of-contents ol ul { 
  margin-left: 1rem; 
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
}
#table-of-contents ol ol,
#table-of-contents ul ol { 
  margin-left: 1rem; 
  margin-bottom: 0;
  padding-bottom: 0;
}
#table-of-contents li {
  padding: 0.25rem 0;
  border-collapse: collapse;
}


#table-of-contents li:not(:first-child) {
  border-top: 1px dotted;
}
#table-of-contents li:not(:empty):not(:last-child) {
  border-bottom: 1px dotted;
}
/* #table-of-contents li:first-child {
  border-bottom: 1px dotted;
}
#table-of-contents li:not(:first-child):not(:nth-child(2)) {
  border-top: 1px dotted;
} */

#table-of-contents a:not(:hover) {
  text-decoration: none;
}

/* Staff */
.staff {
  display: inline-block;
}

.staff h4 {
  padding-bottom: 1rem;
}

.photo {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.photo.portrait img {
  width: 100%;
  height: auto;
  margin-top: -15px;
}
.photo.landscape img {
  width: auto;
  height: 100%;
  margin-left: -25px;
}

.name-and-title {
  font-weight: bold;
}

/* Footer */
footer {
  margin: 1rem;
  text-align: center;
  font-size: 0.75rem;
  background: rgba(0,0,0,0.85);
  margin: 0;
  padding: 1rem;
}

/* Toast */
#toast {
  visibility: hidden;
  width: 250px;
  margin-left: -125px;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 2rem;
  word-wrap: break-word;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}